<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/src/css/style.css">
</head>

<body>

  <!-- Bottom Navigation Component -->
  <style>
    :root {
      /* Palette demandée ESTIM */
      --estim-green: #117a2aff;
      --estim-black: #000100ff;
      --estim-dark-walnut: #432204ff;
      --estim-walnut: #432204ff;
      --estim-golden-pollen: #ffd036ff;
      --estim-soft-linen: #d6dacbff;
    }
  </style>

</body>
  
</html>